{% extends "NRTestPetClinicBundle::layout.html.twig" %}

{% block title "All Owners" %}

{% block content %}
<h1>Listing Owners</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Owner Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Telephone</th>
            <th>Pets</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('owner_show', { 'id': entity.id }) }}">{{ entity.firstName }}&nbsp;{{ entity.lastName }}</a></td>
            <td>{{ entity.address }}</td>
            <td>{{ entity.city }}</td>
            <td>{{ entity.telephone }}</td>
            <td>
            	{% for pet in entity.pets %}
            		<a href="{{ path('pet_show', {'id': pet.id }) }}">{{ pet.name }}</a>
            	{% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('owner_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

{% endblock %}