{% extends "NRTestPetClinicBundle::layout.html.twig" %}

{% block title %}
Pet Owner {{ entity.firstName }} {{ entity.lastName }}
{% endblock %}

{% block content %}

<h1>Owner Information</h1>

<table>
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ entity.firstName }} {{ entity.lastName }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ entity.address }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ entity.city }}</td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td>{{ entity.telephone }}</td>
        </tr>
    </tbody>
</table>
<table class="table-buttons">
	<tr>
		<td><a href="{{ path('owner') }}">Back to the list</a></td>
		<td><a href="{{ path('owner_edit', { 'id': entity.id }) }}">Edit</a></td>
	</tr>
</table>
<h2>Pets and Visits</h2>
{% for pet in entity.pets %}
<table width="94%">
	<tr>
		<td valign="top">
			<table>
				<tr>
					<th>Name</th>
					<td>{{ pet.name }}</td>
				</tr>
				<tr>
					<th>Birthdate</th>
					<td>{{ pet.birthDate|date("m/d/Y") }}</td>
				</tr>
				<tr>
					<th>Type</th>
					<td>{{ pet.petType }}</td>
				</tr>
			</table>
		</td>
		<td valign="top">
			<table>
				<tr>
					<thead>
						<th>Visit Date</th>
						<th>Description</th>
					</thead>
				</tr>
				{% for visit in pet.visits %}
				<tr>
					<td valign="top">{{ visit.visitDate|date("m/d/Y") }}</td>
					<td>{{ visit.description }}</td>
				</tr>
				{% endfor %}
			</table>
		</td>
	</tr>
</table>
{% endfor %}

{% endblock %}