{% extends "NRTestPetClinicBundle::layout.html.twig" %}

{% block title "Home Page" %}

{% block content %}

<h1>Pet</h1>

<table>
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Birthdate</th>
            <td>{{ entity.birthDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
        	<th>Owner</th>
        	<td><a href="{{ path('owner_show', { 'id': entity.owner.id }) }}">{{ entity.owner.firstName }} {{ entity.owner.lastName }}</a></td>
        </tr>
    </tbody>
</table>

<table class="table-buttons">
	<tr>
		<td><a href="{{ path('pet') }}">Back to the list</a></td>
		<td><a href="{{ path('pet_edit', { 'id': entity.id }) }}">Edit</a></td>
	</tr>
</table>

<table>
	<tr>
		<thead>
			<th>Visit Date</th>
			<th>Description</th>
		</thead>
	</tr>
	{% for visit in entity.visits %}
	<tr>
		<td valign="top">{{ visit.visitDate|date("d/m/Y")}}</td>
		<td>{{ visit.description }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}