<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/nrtestpetclinic/css/petclinic.css') }}" type="text/css" media="all" />
        {% endblock %}
        <title>Symfony 2.0 PetClinic | {% block title %}PetClinic Bundle{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="symfony-wrapper">

            {% if app.session.flash('notice') %}
                <div class="flash-message">
                    <em>Notice</em>: {{ app.session.flash('notice') }}
                </div>
            {% endif %}

            {% block content_header %}
            	<img src="{{ asset('bundles/nrtestpetclinic/images/pets.png') }}" style="position: relative; right: 30px;" align="right" />
            {% endblock %}

            <div id="main" class="symfony-content">
                {% block content %}
                {% endblock %}
            </div>
            
            <footer>
            	<table class="footer">
            		<tr>
            			<td><a href="{{ path('_welcome') }}">Home</a></td>
            		</tr>
            	</table>
            </footer>

        </div>
    </body>
</html>
